<div class="navbar">
        <h1 align="center">ZECURE BANKING PORTAL</h1>
          <a routerLink="/"><i class="fa fa-fw fa-user"></i> Logout</a> 
          <a href="#"><i class="fa fa-fw fa-search"></i> Search</a> 
          <a href="email"><i class="fa fa-fw fa-envelope"></i> Contact</a> 
          <a  href="About.html" ><i class="fa fa-fw fa-home"></i>About</a>
        </div>
        
        <form >
          <div class="container">
            <h1>Debit Card : Update Pin</h1>
            <hr>
        
            
            <label for="username"><b>Card Number</b></label>
            <input type="text" name="transferfrom" value="5678834909866" readonly>
            <label for="psw"><b>New Pin</b></label>
           <input type="password" name="pin"   placeholder="Enter and set your pin" maxlength="4" required>
            <button  (click)="alert()" type="submit"  class="registerbtn" >Update</button>
          </div>
          
    
        