<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">


<script src='https://kit.fontawesome.com/a076d05399.js'></script>
</head>
<body>


<div id="mySidenav" class="sidenav">
  <a href="javascript:void(0)" class="closebtn" (click)="closeNav()">&times;</a>
  <a href="#">History</a>
  <a href="#">Services</a>
  <a href="#">Contact</a>
</div>
<div id="main">
<div class="navbar">
<h1 align="center">ZECURE BANKING PORTAL</h1>
  <a routerLink="/"><i class="fa fa-fw fa-user"></i> Logout</a> 
  <a href="#"><i class="fa fa-fw fa-search"></i> Search</a> 
  <a href="mailto:benson@gmail.com"><i class="fa fa-fw fa-envelope"></i> Contact</a> 
  <a class="active" href="#" ><i class="fa fa-fw fa-home"></i>About</a>
</div>
  <h1>About Us</h1>
  <p>
ZECURE BANK has been recognized amongst the Top and Fastest Growing Banks in various Indian Banking League Tables by prestigious media houses and Global Advisory Firms, and has received several national and international honours for our various Businesses including Corporate Investment Banking, Treasury, Transaction Banking, and Sustainable practices through Responsible Banking.
</p>
  <span style="font-size:30px;cursor:pointer;" (click)="openNav()"><i style='font-size:24px' class='fas'>&#xf0a5;</i>More Info</span>
</div><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>


   <div class="footer-level">
<div class="footer">
  <ul>
    <li><a href="https://twitter.com/julesforrest">Twitter</a></li>
    <li><a href="https://instagram/julesforrest">Instagram</a></li>
    <li><a href="https://facebook.com">Facebook</a></li>
	<li><a href="#">0479-34567</a></li>
    <li>
      <p>👋</p>
    </li>
  </ul>
</div>
</div></body>
</html> 
