<div class="b_image">
        <div class="navbar">
        <h1 align="center">ZECURE BANKING PORTAL</h1>
          <a routerLink="/"><i class="fa fa-fw fa-user"></i>Logout</a> 
          <a routerLink="/employee"><i class="fa fa-fw fa-search"></i> Employee Login</a> 
          <a href="mailto:benson@gmail.com"><i class="fa fa-fw fa-envelope"></i> Contact</a> 
          <a routerLink="/about" ><i class="fa fa-fw fa-home"></i>About</a>
        </div>
        


<table>
        <caption>Statement Summary</caption>
        <thead>
          <tr>
            <th scope="col">Transactions</th>
            <th scope="col">Transaction Date</th>
            <th scope="col">Amount</th>
         
          </tr>
        </thead>
        <tbody>
          <tr>
            <td data-label="Account">NEFT</td>
            <td data-label="Due Date">04/11/2019</td>
            <td data-label="Amount">1,190 Rs</td>
     
          </tr>
          <tr>
            <td scope="row" data-label="Account">Withdrawal :Debit Card</td>
            <td data-label="Due Date">03/12/2019</td>
            <td data-label="Amount">2,443 Rs</td>
         
          </tr>
          <tr>
            <td scope="row" data-label="Account">Online Shopping</td>
            <td data-label="Due Date">03/12/2019</td>
            <td data-label="Amount">1,181 Rs</td>
      
          </tr>
          <tr>
            <td scope="row" data-label="Account">NEFT</td>
            <td data-label="Due Date">10/12/2019</td>
            <td data-label="Amount">842 Rs</td>
 
          </tr>
        </tbody>
      </table>