
<div class="b_image">
        <div class="navbar">
        <h1 align="center">ZECURE BANKING PORTAL</h1>
          <a  routerLink='/'><i class="fa fa-fw fa-user"></i>Logout</a> 
          <a  routerLink="employee"><i class="fa fa-fw fa-search"></i> Employee Login</a> 
          <a href="mailto:benson@gmail.com"><i class="fa fa-fw fa-envelope"></i> Contact</a> 
          <a routerLink="/about" ><i class="fa fa-fw fa-home"></i>About</a>
        </div>
        
<div class="frame">
        <div class="center">
          
              <div class="profile">
                  <div class="image">
                      <div class="circle-1"></div>
                      <div class="circle-2"></div>
                      <img src="https://cdn4.iconfinder.com/data/icons/people-avatar-1-1/128/29-512.png" width="70" height="70" alt="Jessica Potter">
                  </div>
                  
                  <div class="name">Benson V Thomas</div>
                  <div class="name">Employee Id: UI123</div>
                  
                  <div class="actions">
                   
                    <a routerLink='/forgot' > <button class="btn">Set Password</button></a>
                    <a routerLink='/viewt' > <button class="btn">User Details</button></a>
                  </div>
              </div>
              
              <div class="stats">
                  <div class="box">
                      <span class="value">Update Details</span>
                  </div>
                  <div class="box">
                      <span class="value">Change Photo</span>
                  </div>
                  <div class="box">
                      <span class="value">Forums</span>
          
                  </div>
              </div>
        </div>
      </div>