<div class="b_image">
        <div class="navbar">
        <h1 align="center">ZECURE BANKING PORTAL</h1>
          <a routerLink="/addUser"><i class="fa fa-fw fa-user"></i>Back</a> 
          <a routerLink="employee"><i class="fa fa-fw fa-search"></i> Employee Login</a> 
          <a href="mailto:benson@gmail.com"><i class="fa fa-fw fa-envelope"></i> Contact</a> 
          <a routerLink="/about" ><i class="fa fa-fw fa-home"></i>About</a>
        </div>
        
        <table>
                <caption>USER DETAILS</caption>
                <thead>
                  <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Email Id</th>
                    <th scope="col">Account No.</th>
                    <th scope="col">Update User Details</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td data-label="Account">Benson</td>
                    <td data-label="Due Date">ben@gmail.com</td>
                    <td data-label="Amount"><a routerLink="/thistory">4567893456</a></td>
                    <td data-label="Amount"><button>update</button></td>
                  </tr>
                  <tr>
                    <td scope="row" data-label="Account">Rahul</td>
                    <td data-label="Due Date">rahul@gmail.com</td>
                    <td data-label="Amount">4532167589</td>
                    <td data-label="Amount"><button>update</button></td>
                  </tr>
                  <tr>
                    <td scope="row" data-label="Account">Sharan</td>
                    <td data-label="Due Date">sharan@gmail.com</td>
                    <td data-label="Amount">4560900765</td>
                    <td data-label="Amount"><button>update</button></td>
                  </tr>
                  <tr>
                    <td scope="row" data-label="Account">Jean</td>
                    <td data-label="Due Date">jean@gmail.com</td>
                    <td data-label="Amount">4000987630</td>
                    <td data-label="Amount"><button>update</button></td>
                  </tr>
                </tbody>
              </table>