
<html>
<body>

<div class="navbar">
        <h1 align="center">ZECURE BANKING PORTAL</h1>
        <a routerLink="/" ><i class="fa fa-fw fa-user"></i>Logout</a> 
         <a href="#"><i class="fa fa-fw fa-search"></i> Search</a> 
         <a href="mailto:benson@gmail.com"><i class="fa fa-fw fa-envelope"></i> Contact</a> 
         <a routerLink="about" ><i class="fa fa-fw fa-home"></i>About</a>
    </div>

<div class="box">
 
    <a href="https://wss.kseb.in/selfservices/quickpay"><button>Electricity</button></a><br><br>
   <a href="https://kwa.kerala.gov.in/online-services-2/"> <button>Water</button></a><br><br>
   <a href="https://www.incometaxindia.gov.in/Pages/tax-services/pay-tax-online.aspx"> <button>Tax</button></a><br><br>
   <a href="https://indane.co.in/online-payment-facility-for-refills.php"><button>Gas</button></a> <br>
  </div>

</body>
</html>