
<html>

        <div class="main">
        <div class="navbar">
                <h1 align="center">ZECURE BANKING PORTAL</h1>
                <a routerLink="/" ><i class="fa fa-fw fa-user"></i>Logout</a> 
                 <a href="#"><i class="fa fa-fw fa-search"></i> Search</a> 
                 <a href="mailto:benson@gmail.com"><i class="fa fa-fw fa-envelope"></i> Contact</a> 
                 <a routerLink="about" ><i class="fa fa-fw fa-home"></i>About</a>
            </div>
        <div class="box">
          
       <a href="https://indialends.com/"><button>Education Loan</button></a><br><br>
       <a href="https://indialends.com/"><button>Home Loan</button></a><br><br>
        <a href="https://indialends.com/"><button>Two Wheeler loan</button></a><br><br>
          <a href="https://indialends.com/"><button>Car Loan</button></a><br>
          </div>
        </div>
        </html>