

<div class="navbar">
<h1 align="center">ZECURE BANKING PORTAL</h1>
  <a (click)="back()" ><i class="fa fa-fw fa-user"></i> Logout</a> 
  <a href="#"><i class="fa fa-fw fa-search"></i> Search</a> 
  <a href="email"><i class="fa fa-fw fa-envelope"></i> Contact</a> 
  <a  href="About.html" ><i class="fa fa-fw fa-home"></i>About</a>
</div>
<form>
  <div class="container">
    <h1>Register Here</h1>
    <p>Please fill in this form to create an account.</p>
    <hr>

    <label for="email"><b>Email</b></label>
    <input type="text" placeholder="eg:xyz@qwe.com" name="email" required>
    
	<label for="email"><b>Username</b></label>
    <input type="text" placeholder="Enter your username"title="Username must have 3 minimum characters to atmost 20 characters"name="email" required minlength="3" maxlength="20">
    <label for="psw"><b>Password</b></label>
   <input title="Password must contain at least 6 characters, including UPPER/lowercase and numbers" placeholder="Enter your password" name="password" type="password" required  [(ngModel)]="psw">

    <label for="psw-repeat"><b>Repeat Password</b></label>
   <input title="Please enter the same Password as above"  placeholder="Enter the same password as above" name="password" type="password" required [(ngModel)]="cpsw">
    <hr>
    <p>By creating an account you agree to our <a href="#">Terms & Privacy</a></p>

    <button  (click)="alert()" type="submit"  class="registerbtn" >Register</button>
</div>
  
  
</form>

