<div class="navbar">
        <h1 align="center">ZECURE BANKING PORTAL</h1>
          <a routerLink="/"><i class="fa fa-fw fa-user"></i> Logout</a> 
          <a href="#"><i class="fa fa-fw fa-search"></i> Search</a> 
          <a href="email"><i class="fa fa-fw fa-envelope"></i> Contact</a> 
          <a  href="About.html" ><i class="fa fa-fw fa-home"></i>About</a>
        </div>
        
        <form >
          <div class="container">
            <h1>Transfer Funds</h1>
            <hr>
   
            <label for="username"><b>Transfer from</b></label>
            <input type="text" name="transferfrom" value="5678834909866" readonly>
            <label for="psw"><b>Transfer To</b></label>
           <input type="text" name="password"  value="4567832125678" readonly>
        
            
           <label for="psw-repeat"><b>Amount to be transferred</b></label>
           <input  value="Savings"   type="text" name="password" readonly value="5000 Rs">
            <hr>
            <button  (click)="alert()" type="submit"  class="registerbtn" >Transfer</button>
          </div>
          
    
        