
<div class="navbar">
    <h1 align="center">ZECURE BANKING PORTAL</h1>
    <a routerLink="/" ><i class="fa fa-fw fa-user"></i>Logout</a> 
     <a href="#"><i class="fa fa-fw fa-search"></i> Search</a> 
     <a href="mailto:benson@gmail.com"><i class="fa fa-fw fa-envelope"></i> Contact</a> 
     <a routerLink="/about" ><i class="fa fa-fw fa-home"></i>About</a>
</div>
        
<div class="main">
    <!-- Portfolio Gallery Grid -->
    <div class="row">
        <div class="column">
       <div class="content">
   <img src="assets/login.png" style="width:100%">
       <a routerLink="/profile"><h3>My Account</h3></a> 
        </div>
      </div>
      <div class="column">
        <div class="content">
          <img src="assets/billpay.png"  style="width:100%">
          <a routerLink="/bill"><h3>Bill Pay</h3></a>
        </div>
      </div>
      <div class="column">
        <div class="content">
          <img src="assets/payment.png"  style="width:100%">
          <a routerLink="/transactions"><h3>Online Banking</h3></a>
        
        </div>
      </div>
      <div class="column">
        <div class="content">
          <img src="assets/debit-card.png" style="width:100%">
          <a routerLink="/card"> <h3>Card</h3></a>
      
        </div>
      </div>
      
      <div class="column">
            <div class="content">
              <img src="assets/deposits.png" style="width:100%">
              <a routerLink="/deposits"> <h3>Deposits</h3></a>
          
            </div>
          </div>
          <div class="column">
                <div class="content">
                  <img src="assets/recharge.png" style="width:100%">
                  <a routerLink="/recharge"> <h3>Recharge</h3></a>
              
                </div>
              </div>
              <div class="column">
                    <div class="content">
                      <img src="assets/invest.png" style="width:100%">
                      <a routerLink="/invest"> <h3>Invest and Insure</h3></a>
                  
                    </div>
                  </div>
   
        <div class="column">
          <div class="content">
            <img src="assets/bill.png"  style="width:100%">
            <a routerLink="/loan"><h3>Loan</h3></a>
          </div>
        </div>
    </div>
    
   <div class="footer-level">
    <div class="footer">
      <ul>
        <li><a href="https://twitter.com">Twitter</a></li>
        <li><a href="https://instagram.com">Instagram</a></li>
        <li><a href="https://facebook.com">Facebook</a></li>
      <li><a href="#">0479-34567</a></li>
        <li>
          <p>👋</p>
        </li>
      </ul>
    </div>
    </div>
   

    
    <!-- END MAIN -->
    </div>